@charset "utf-8";

/* All */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 10px;
}
p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0 0 10px;
}
.lgp {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 10px;
}
.mdp {
  font-size: 20px;
  font-weight: 600;
}
body {
  color: #333333;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  margin: 75px 0 0;
}
.btn_box {
  opacity: 0.8;
}
.btn_box:hover {
  opacity: 1;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
/* ******************* large responsive ************************ */
/* 共通CSS */
.box {
  margin: 30px auto 0;
  display: flex;
  justify-content: space-around;
  max-width: 1170px;
}
.cover {
  margin: 10px;
  padding: 30px 30px 20px;
  background-color: #fef5e0;
  border-radius: 5px;
  width: 40%;
}
.yellowtext {
  color: #ebb94d;
}
.whitetext {
  color: #fff;
}
.font_big {
  font-size: 28px;
  font-weight: 600;
}
.cover_top {
  padding: 40px 0;
}
.brnm {
  display: none;
}
.brsm {
  display: none;
}
.flow_box_left i {
  display: none;
}
/* header */
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}
.title {
  height: 75px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.header_left {
  display: flex;
}
.header_left_text {
  order: 2;
  margin: 0;
  position: relative;
  bottom: -20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  height: fit-content;
}
.header_logo {
  width: 128px;
}
.small_device {
  display: none;
}
.large_device {
  padding: 11px 40px;
  background-color: #da6b64;
  border-radius: 20px;
  position: relative;
  width: 325px;
  height: 44px;
  text-align: center;
}
.large_device a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 44px;
}
.main_visual {
  background-image: url(../image/main_visual_image/iSara_main_visual.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_visual_text {
  text-align: center;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgba(0,0,0,0) 100%);
  padding: 100px 0;
}
.main_visual_text h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 10px;
}
.main_visual_text img {
  width: 317px;
  margin-bottom: 20px;
}
.main_visual_text p {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 10px;
}
/* conversion */
.conversion {
  background-color: #ebb94d;
  padding: 30px 0;
  text-align: center;
}
.conversion_text {
  font-size: 20px;
  font-weight: 600;
}
.conversion_text01 {
  margin: 0 0 10px;
  color: #fff;
  letter-spacing: 0.1em;
}
code {
  background-color: #fff;
  color: #c7254e;
  padding: 2px 4px;
  border-radius: 5px;
}
.conversion_btn {
  max-width: 1028px;
  margin: 45px auto;
  padding: 30px 120px;
  background-color: #da6b64;
  border-radius: 50px;
  height: 92px;
  position: relative;
}
.conversion_btn a {
  color: #fff;
  letter-spacing: 0.1em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  line-height: 92px;
}
.conversion_news {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 150%;
}
.conversion_news p {
  margin: 0 0 20px;
}
.link_btn a {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  color: #fff;
}
.twitter {
  background-color: #4169e1;
}
.goodjob,
.shere {
  background-color: #0000cd;
}
i {
  margin-right: 5px;
}

/* introduction */
.introduction {
  text-align: center;
  padding: 30px 0;
}

.lbox {
	position: relative;
	padding: .3em;
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
}
.lbox:before,.lbox:after { 
	content:'';
	width: 45px;
	height: 45px;
	position: absolute;
	display: inline-block;
}
.lbox:before {
	border-left: solid 4px #ebb94d;
	border-top: solid 4px #ebb94d;
	top:0;
	left: 0;
}
.lbox:after {
	border-right: solid 4px #ebb94d;
	border-bottom: solid 4px #ebb94d;
  bottom:0;
  right: 0;
}
.lbox02:before {
	border-left: solid 4px #fff;
	border-top: solid 4px #fff;
	top:0;
	left: 0;
}
.lbox02:after {
	border-right: solid 4px #fff;
	border-bottom: solid 4px #fff;
  bottom:0;
  right: 0;
}
.lbox03:before {
	border-left: solid 4px #fff;
	border-top: solid 4px #fff;
	top:0;
	left: 0;
}
.lbox03:after {
	border-right: solid 4px #fff;
	border-bottom: solid 4px #fff;
  bottom:0;
  right: 0;
}
.lbox h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 10px;
  letter-spacing: 0.1em;
}
.lbox p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.introduction_text {
  padding: 40px 0;
}
.introduction_text01,
.introduction_text02,
.introduction_text03 {
  margin-bottom: 24px;
}
.introduction_text p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.marker {
  background: linear-gradient(transparent 60%, #ebb94d 0%);
}
/* about */
.about {
  background-color: #fef5e0;
  text-align: center;
  padding: 0 0 40px;
}
.circle {
  color: #fff;
  background-color: #ebb94d;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}
.about_circle {
  position: relative;
  top: -40px;
}

.about_text {
  margin: 40px 0 10px;
  font-size: 20px;
}
.about_text p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.border_box {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 30px auto;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  padding: 30px;
}
.about_box_text p {
  font-size: 20px;
  font-weight: 600;
}
.about_box_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.about_box_imgbox {
  padding: 10px;
}
.about_box_imgbox p {
  font-weight: 300;
}
.about_second {
  padding: 40px 0;
  text-align: center;
}
.about_second_text h2 {
  margin: 20px 0;
  font-size: 28px;
  font-weight: 600;
}
.about_second_text p {
  font-size: 20px;
  font-weight: 600;
}
.step {
  margin: 0 0 10px;
  background-color: #ebb94d;
  border-radius: 5px;
  color: #fff;
}
.step p {
  font-weight: 600;
  letter-spacing: 0.1em;
}
.step_text {
  margin: 30px 0 15px;
}
.blue_block {
  text-align: center;
  background-color: #4169e1;
  color: #fff;
  padding: 40px 0;
}
.blue_block p {
  font-size: 20px;
  font-weight: 600;
}

/* leaning */
.leaning {
  padding: 40px 0;
  text-align: center;
}
.leaning h2 {
  margin: 20px 0 35px;
  font-size: 28px;
}
.leaning p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.2em;
}
.leaning_box {
  margin: 40px auto;
  width: 860px;
  max-width: calc(100% - 40px);
  display: flex;
  justify-content: space-evenly;
}
.leaning_box img {
  width: 180px;
}
/* merit */
.merit {
  padding: 40px 0;
  background-color: #fef5e0;
}
.merit_cover {
  width: 40%;
}
.merit_box_damy {
  width: 100%;
  height: 180px;
  background-color: #ebb94d;
}
.merit_box_text01 {
  color: #ebb94d;
  font-size: 20px;
  margin: 8px 0;
}
.merit_box_text02 {
  font-size: 16px;
  margin: 8px 0;
}
.border_box {
  padding: 40px 20px;
  text-align: center;
}
.border_box h2 {
  font-size: 28px;
  color: #ebb94d;
}
.border_box h3{
  font-size: 20px;
} 
.border_box p {
  font-size: 16px;
} 
.merit_text {
  text-align: center;
} 
/* teachar */
.teachar {
  padding: 40px 0;
  background-image: url(../image/teachar_image/TeacharBackgroundImage.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
}
.teachar_text {
  text-align: center;
}
.teachar_text h2 {
  font-size: 28px;
  margin: 20px 0 10px;
}
.teachar_text p {
  font-size: 16px;
}
.teachar_box {
  max-width: 1024px;
  margin: 0 auto;
}
.teachar_box_top,
.teachar_box_bottom {
  display: flex;
  justify-content: center;
}
.teachar_box01,
.teachar_box02,
.teachar_box03,
.teachar_box04 {
  margin: 0 15px;
  width: 40%;
  text-align: center;
}
.teachar_damy_img {
  width: 198px;
  height: 198px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: -30px;
}
.teachar_cover {
  border: 3px solid #fff;
  padding: 40px;
}
.work,
.name,
.what_work {
  font-size: 16px;
  letter-spacing: 0.1em;
}
.what_work {
  text-align: left;
}
.why {
  padding: 40px 0;
  background-color: #ebb94d;
  text-align: center;
  position: relative;
}
.why::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #ebb94d transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}
.why_circle {
  background-color: #fff;
  color: #ebb94d;
}
.why_lbox::before {
  border-left: solid 4px #fff;
  border-top: solid 4px #fff;
  top: 0;
  left: 0;
}
.why_lbox::after {
  border-right: solid 4px #fff;
  border-bottom: solid 4px #fff;
  bottom: 0;
  right: 0;
}
.why_lbox h2 {
  color: #fff;
}
/* answer */
.answer {
  padding: 40px 0;
}
.answer_text {
  text-align: center;
}
.answer_text p:nth-child(1) {
  font-size: 28px;
  margin: 0 0 10px;
  font-weight: 600;
}
.answer_text p:nth-child(2) {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 600;
}
.answer_text p:nth-child(3) {
  font-weight: 300;
}
.message {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
.message03 {
  margin-bottom: 0;
}
.messanger_damy {
  width: 255px;
  height: 255px;
  background-color: #333;
  margin: 0 15px;
  border: 4px solid #ebb94d;
}
.message_text {
  margin: 0 15px;
  width: 38%;
}
.message_text p {
  font-size: 18px;
  font-weight: 300;
  color: #777;
  letter-spacing: 0.15em;
  font-style: oblique;
}
.message_text p:nth-child(2) {
  text-decoration: underline;
}
.class {
  text-align: center;
  padding: 40px 0;
  color: #fff;
  background-image: url(../image/class_image/ClassBackground.jpg);
  background-size: cover;
  background-position: center center;
}
.class p {
  font-size: 16px;
}
.class ul {
  margin: 0;
  padding: 0;
}
.class_box {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  max-width: 1024px;
}
.class_box01,
.class_box02 {
  margin: 0 15px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #4169e1;
  width: 40%;
}
.class_box02 {
  height: fit-content;
}
.class_box_text {
  background-color: #4169e1;
  padding: 15px;
}
.class_box_text p {
  font-size: 20px;
  margin: 0;
}
.class_box_list {
  color: #333;
  margin-top: 10px;
}
.class_box_list li {
  padding: 10px;
  letter-spacing: 0.1em;
  border-bottom: 1px dotted #e5e5e5;
  font-size: 16px;
}
.class_box_list li:last-child {
  border: none;
}
/* flow */
.flow {
  text-align: center;
}
.flow_img {
  margin: 20px 0 30px;
}
.flow_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fef5e0;
  margin: 0 auto;
  max-width: 1170px;
  width: calc(100% - 40px);
  padding: 10px 35px;
  border-radius: 10px;
}
.flow_box_left {
  margin: 20px;
}
.flow_box_left img {
  width: 120px;
  height: auto;
}
.flow_box_left p {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 0;
}
.flow_box_right {
  text-align: left;
  width: 80%;
}
.flow_text01 {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}
.flow_text02 {
  font-size: 14px;
  font-weight: 300;
  margin: 20px 0;
}
.flow_box_bottom img {
  vertical-align: bottom;
}
.bangkok {
  padding: 80px;
  background-image: url(../image/bangkok_image/bangkok.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100%;
}
.bangkok::before{
  background-color: rgba(121,216,244,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.bangkok_text {
  max-width: 1170px;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  position: relative;
}
.bangkok h2 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.bangkok_small_p {
  font-size: 14px;
}
.bangkok_large_p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.bangkok_text ul {
  padding-left: 25px;
}
.bangkok_text li {
  font-size: 16px;
  margin: 0 0 10px;
  list-style: disc;
  font-weight: 600;
  letter-spacing: 0.1em;
}
/* special */
.special {
  background-color: #ebb94d;
}
.special_text {
  text-align: center;
}
.special_text h2 {
  margin: 20px 0 40px;
}
.special_text p {
  font-size: 16px;
}
.special_content {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}
.special_content_text {
  position: relative;
  bottom: -50px;
  width: fit-content;
  margin: 0 auto;
  background-color: #ebb94d;
  padding: 0 10px;
}
.special_box {
  padding: 40px;
  border: 2px solid #fff;
}
.special_cover {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.blacktext {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  letter-spacing: 0;
}
.orangetext {
  color: #ebb94d;
  font-size: 24px;
  margin: 30px 0 10px;
}
/* special_detail */
.special_detail {
  padding: 40px 0;
  text-align: center;
  background-image: url(../image/special_detail_image/special_detail.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
  height: 100%;
}
.special_detail::before {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.special_detail_text {
  position: relative;
}
.detail_text01 {
  margin: 20px 0;
}
.detail_text02 {
  margin: 0 0 40px;
}
.detail_text03 {
  margin: 20px 0 40px;
}
/* isara_leaning */
.isara_leaning {
  padding: 40px 0;
}
.isara_leaning_text {
  text-align: center;
}
.isara_leaning_text h2 {
  margin: 20px 0 35px;
}
.isara_leaning_text p {
  font-size: 20px;
  font-weight: 600;
}
.isara_leaning_box {
  padding-top: 30px;
  display: flex;
  max-width: 1028px;
  margin: 0 auto;
  justify-content: center;
}
.damy_human {
  width: 193px;
  height: 145px;
  background-color: #333;
}
.human_message {
  width: 70%;
  padding: 0 5%;
}
.human_message p {
  margin: 0 0 30px;
}
.human_message ul {
  padding-left: 20px;
}
.human_message li {
  list-style: disc;
}
/* contact_form */
.contact_form {
  background-color: #ebb94d;
  padding: 40px 20%;
  text-align: center;
}
.contact_form_text h2 {
  margin: 20px 0;
}
form {
  margin-top: 30px;
}
form input,
form textarea {
  margin-bottom: 25px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-weight: 300;
}
form input {
  height: 55px;
}
form textarea {
  height: 100px;
  margin: 25px 0 40px;
}
.send {
  background-color: #da6b64;
  border-radius: 50px;
  color: #fff;
  font-size: 24px;
  opacity: 0.8;
  letter-spacing: 1em;
}
/* question */
.question {
  padding: 40px 10%;
  text-align: center;
}
.question_text h2 {
  margin: 20px 0 40px;
}
.all_question {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto 20px;
  text-align: left;
}
.question_box {
  margin-top: 5px;
}
.question_box_q {
  border: 1px solid #e5e5e5;
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
}
.question_box_q p {
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
}
.question_box_q a {
  color: #000;
  display: block;
}
.question_box_q a:hover {
  text-decoration: underline;
}
.question_box_q i {
  line-height: 32px;
}
.question_box_a {
  padding: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  display: none;
}
.question_box_a p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
/* footer */
footer {
  padding: 40px 0;
  background-color: #ececec;
  text-align: center;
}
footer p {
  font-size: 10px;
  font-weight: 300;
  margin: 0;
}
.footer_text01 {
  margin-bottom: 10px;
}
.footer_text02 {
  padding-top: 30px;
}



